<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-modal-category" (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Nueva categoría -->
  <ion-item>
    <ion-input [(ngModel)]="newCategory" placeholder="New category">
    </ion-input>
  </ion-item>

  <ion-button expand="block" (click)="addCategory()" [disabled]="!newCategory()">
    Add Category
  </ion-button>

  <!-- Lista Categorias -->
  @if (categories().length > 0) {
  <ion-list>
    @for (c of categories(); track c.id) {
    <ion-item>
      <ion-label>{{ c.name }}</ion-label>

      <ion-button fill="clear" color="primary" (click)="editCategory(c)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" color="danger" (click)="deleteCategory(c.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
    }
  </ion-list>
  }

  @if (categories().length === 0) {
  <ion-item>
    <ion-label color="defaul">Not records</ion-label>
  </ion-item>
  }

  <!-- Modal editar categoria -->
  <ion-modal #modal backdropDismiss="false" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Edit Task</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true"
              [disabled]="!newCategoryEdit().trim()">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

        <ion-item>
          <ion-input [value]="newCategoryEdit()" (ionInput)="newCategoryEdit.set($event.detail.value!)">
          </ion-input>
        </ion-item>

        <ion-button expand="block" (click)="confirm()" [disabled]="!newCategoryEdit().trim()">
          Edit Category
        </ion-button>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
