<ion-header>
  <ion-toolbar>
    <ion-title>Categories</ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-modal-category" (click)="dismiss()">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Nueva categoría -->
  <ion-item>
    <ion-input [(ngModel)]="newCategory" placeholder="New category">
    </ion-input>
  </ion-item>

  <ion-button expand="block" (click)="addCategory()" [disabled]="!newCategory">
    Add Category
  </ion-button>

  <!-- Lista Categorias -->
  <ion-list>
    @for (c of categories$ | async; track c.id) {
    <ion-item>
      <ion-label>{{ c.name }}</ion-label>

      <ion-button fill="clear" color="danger" (click)="deleteCategory(c.id)">
        Delete
      </ion-button>
    </ion-item>
    }
  </ion-list>

</ion-content>
