<ion-header>
  <ion-toolbar>
    <ion-title>To-Do</ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-modal-category" (click)="openModalCategories()">
        <ion-icon slot="icon-only" name="duplicate-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Nueva tarea -->
  <ion-item>
    <ion-input [(ngModel)]="newTask" placeholder="New task">
    </ion-input>
  </ion-item>

  <!-- Categoría -->
  <ion-item>
    <ion-select placeholder="Category" [(ngModel)]="selectedCategory">
      <ion-select-option *ngFor="let c of categories()" [value]="c.id">
        {{ c.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="addTask()" [disabled]="!newTask().trim() || !selectedCategory()">
    Add Task
  </ion-button>

  <!-- Filtro -->
  @if (tasks().length > 0) {
  <ion-segment scrollable="true" [value]="filterCategory() ?? ''" (ionChange)="onFilterChange($event.detail.value)">
    <ion-segment-button value="">
      All
    </ion-segment-button>

    <ion-segment-button *ngFor="let c of categories()" [value]="c.id">
      {{ c.name }}
    </ion-segment-button>

  </ion-segment>
  }
  @if (tasks().length === 0) {
  <ion-item>
    <ion-label color="defaul">Not records</ion-label>
  </ion-item>
  }

  <!-- Lista -->
  <ion-list>
    @if (filteredTasks().length > 0) {
    <ion-item *ngFor="let task of filteredTasks(); trackBy: trackById">

      <ion-checkbox slot="start" [checked]="task.completed" (ionChange)="toggleTask(task.id)">
      </ion-checkbox>

      <ion-label [class.completed]="task.completed">
        {{ task.title }}
      </ion-label>

      @if(canEdit()){
      <ion-button fill="clear" color="primary" (click)="editTask(task)">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      }

      <ion-button fill="clear" color="danger" (click)="confirmDeleteCategory(task.id, task.title)">
        <ion-icon slot="icon-only" slot="end" name="trash"></ion-icon>
      </ion-button>

    </ion-item>
    }
    @if (filteredTasks().length === 0) {
    <ion-item>
      <ion-label color="defaul">Not records</ion-label>
    </ion-item>
    }
  </ion-list>

  <!-- Modal editar tarea -->
  <ion-modal #modal backdropDismiss="false" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Edit Task</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true"
              [disabled]="!newTaskEdit().trim() || !selectedCategoryEdit()">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

        <ion-item>
          <ion-input [value]="newTaskEdit()" (ionInput)="newTaskEdit.set($event.detail.value!)">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-select [value]="selectedCategoryEdit()" (ionChange)="selectedCategoryEdit.set($event.detail.value)">
            <ion-select-option *ngFor="let c of categories()" [value]="c.id">
              {{ c.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button expand="block" (click)="confirm()" [disabled]="!newTaskEdit().trim() || !selectedCategoryEdit()">
          Edit Task
        </ion-button>

      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
